<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <main class="contact-section">
        <div class="row">
        <div class= "col-7">
            <p class="title-contact">Contactez-moi</p>
            <div class="line-footer"></div>
            <p class="text-contact">Beauté Bio</p>
            <p class="text-contact">9 rue du centre</p>
            <p class="text-contact">75000 paris</p>
            <p class="text-contact">tel : 01 02 03 04 05</p>
            
        </div>
        <div class= "col-5">
            <img class="logo-footer" src="/logo-beauté-bio.jpg">
        </div>
    </div>
    </main>
    
    
</body>
</html>