<div class="line-nav-bar"></div>            
<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link btn-home" href="http://localhost:8082/">Tous les produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8082/products/soins-du-corps">Soins du corps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8082/products/soins-du-visage">Soins du visage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8082/products/maquillage">Maquillage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8082/products/beaute-des-mains">Beauté des mains</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-create" href="http://localhost:8082/create-product">Ajouter un produit</a>
            </li>
        </ul>
    </div>
</nav>
<div class="line-nav-bar"></div>            
